np .login-container {
  width: 320px;
  height: 600px;
  padding: 30px;
  background-color: #d7e64a;
}
.title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 40px;
  color: black;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  height: 38px;
  border-radius: 6px;
  border: none;
  padding: 8px 10px;
  font-size: 14px;
}

.sign-in-btn {
  width: 100%;
  height: 42px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
